<div>
  <form class="form-signin">
    <label for="inputEmail" class="sr-only">Username</label>
    <input ng-model="$ctrl.username" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="$ctrl.password" type="password" id="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" ng-click="$ctrl.login()">Log in</button>
  </form>
</div>